<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-restful-api:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_restful_api_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-restful-api" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: com.zaxxer:HikariCP:3.3.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.postgresql:postgresql:42.2.18" />
          <element id="library" level="project" name="Maven: org.checkerframework:checker-qual:3.5.0" />
          <element id="library" level="project" name="Maven: jstl:jstl:1.2" />
          <element id="library" level="project" name="Maven: com.google.code.gson:gson:2.8.5" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.5" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.6" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-restful-api/web/Web" />
    </root>
  </artifact>
</component>